<h1 class="text-center mt-5">Peliculas</h1>

{{#each info}} <!--For each de handlebars -->
<div class="d-flex flex-row flex-wrap gap-2 justify-content-center ">
    <div class="card-group">
        <div class="card">
            <img src={{img}} class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">{{nombre}}</h2>
                <h3 class="card-title">{{genero}}</h3>
                <h5 class="card-text"><small class="text-muted">{{fecha}}</small></h5>

                <button class="btn btn-danger">
                    <a class="text-dark text-decoration-none" href="/delete/{{_id}}">Eliminar</a>
                </button>

                <button class="btn btn-success">
                    <a class="text-dark text-decoration-none" href="/edit/{{_id}}">Editar</a>
                </button>

            </div>
        </div>
    </div>

    {{/each}}